# Ignore everything by default
*

# Allow directories (so Git can descend into them)
!*/

# Keep C++ source and headers and gitignore other files
!*.gitignore
!*.gitattributes
!*.md
!*.cpp
!*.h

# Ignore compiled binaries and debug symbols
*.o
*.out
*.exe
main
*.dSYM/


temp.txt